<body>
 <div class="bg">
    <div class="container-fluid">
        <div id="rescue" class="container">
        <h1> RescueMe Pet Adoption App</h1>
            <%= image_tag "wheewhoo.png", id: "mainlogo" %>
            <div id="line" class="container">
             </div>
           </div>
             <br>
            <br>
         </div>
    </div>
</div>
</body>