<body>
 <div class="bg">
 <div class="container-fluid">
<div id="rescue" class="container">
<h1> RescueMe</h1>
<div id="line" class="container">
</div>
</div>

<br>
<br>
</div></div>





</div>
</body>