<html>
<head>
	<title></title>
</head>
<body>
	<div class="bg">
		<div class="container-fluid">
			<div class="container" id="rescue">
				<h1>RescueMe Pet Adoption App</h1><%= image_tag "wheewhoo.png", id: "mainlogo" %>
				<div class="container" id="line"></div>
			</div><br>
			<br>
		</div>
	</div>
</body>
</html>